<app-slider></app-slider>
<br />

<app-form-with-validation>
  <br />

<!--
</app-form-with-validation>
<app-todo-list></app-todo-list>
<br />

<app-directives></app-directives>
<br />
<br />
<app-two-way-binding-with-forms-module></app-two-way-binding-with-forms-module>
<br />

<app-two-way-binding-manual></app-two-way-binding-manual>
<br />
<app-binding></app-binding>

<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-2"><app-aside></app-aside></div>
    <div class="col-10"><app-home></app-home></div>
  </div>
</div>

<app-footer></app-footer>
or self closed<app-navBar/>-->


